# coding: utf-8

"""
    MDM API V2

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv2.api_client import ApiClient


class RemoteManagementV2Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def remote_management_v2_initiate_rm_session_async(self, device_uuid, request_body, **kwargs):  # noqa: E501
        """New - Initiates a Remote Management session.  # noqa: E501

        Initiates a Remote Management session with the device for the specified tool name and gets the Remote Management session URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remote_management_v2_initiate_rm_session_async(device_uuid, request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: Unique identifier for the Device.(Required) (required)
        :param RemoteManagementSessionRequestV2Model request_body: Model containing tool name for the Remote Management session.(Required). (required)
        :return: RemoteManagementSessionResponseV2Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remote_management_v2_initiate_rm_session_async_with_http_info(device_uuid, request_body, **kwargs)  # noqa: E501
        else:
            (data) = self.remote_management_v2_initiate_rm_session_async_with_http_info(device_uuid, request_body, **kwargs)  # noqa: E501
            return data

    def remote_management_v2_initiate_rm_session_async_with_http_info(self, device_uuid, request_body, **kwargs):  # noqa: E501
        """New - Initiates a Remote Management session.  # noqa: E501

        Initiates a Remote Management session with the device for the specified tool name and gets the Remote Management session URL.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remote_management_v2_initiate_rm_session_async_with_http_info(device_uuid, request_body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: Unique identifier for the Device.(Required) (required)
        :param RemoteManagementSessionRequestV2Model request_body: Model containing tool name for the Remote Management session.(Required). (required)
        :return: RemoteManagementSessionResponseV2Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_uuid', 'request_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remote_management_v2_initiate_rm_session_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_uuid' is set
        if self.api_client.client_side_validation and ('device_uuid' not in params or
                                                       params['device_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `device_uuid` when calling `remote_management_v2_initiate_rm_session_async`")  # noqa: E501
        # verify the required parameter 'request_body' is set
        if self.api_client.client_side_validation and ('request_body' not in params or
                                                       params['request_body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `request_body` when calling `remote_management_v2_initiate_rm_session_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_uuid' in params:
            path_params['deviceUuid'] = params['device_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request_body' in params:
            body_params = params['request_body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/remote-management/devices/{deviceUuid}/session', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RemoteManagementSessionResponseV2Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
