# coding: utf-8

"""
    MDM API V2

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv2.api_client import ApiClient


class StagingBundlesV2Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def staging_bundles_v2_staging_bundles(self, staging_uuid, **kwargs):  # noqa: E501
        """New - Finds Staging Bundle by Staging Bundle UUID  # noqa: E501

        Returns a single Staging Bundle identified by Staging Bundle UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles(staging_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str staging_uuid: UUID of Staging Bundle to return(Required) (required)
        :return: StagingBundleV2Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.staging_bundles_v2_staging_bundles_with_http_info(staging_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.staging_bundles_v2_staging_bundles_with_http_info(staging_uuid, **kwargs)  # noqa: E501
            return data

    def staging_bundles_v2_staging_bundles_with_http_info(self, staging_uuid, **kwargs):  # noqa: E501
        """New - Finds Staging Bundle by Staging Bundle UUID  # noqa: E501

        Returns a single Staging Bundle identified by Staging Bundle UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_with_http_info(staging_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str staging_uuid: UUID of Staging Bundle to return(Required) (required)
        :return: StagingBundleV2Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['staging_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method staging_bundles_v2_staging_bundles" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'staging_uuid' is set
        if self.api_client.client_side_validation and ('staging_uuid' not in params or
                                                       params['staging_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `staging_uuid` when calling `staging_bundles_v2_staging_bundles`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'staging_uuid' in params:
            path_params['stagingUuid'] = params['staging_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/product-components/staging-bundles/{stagingUuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StagingBundleV2Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def staging_bundles_v2_staging_bundles_add(self, body, **kwargs):  # noqa: E501
        """New - Adds a new Staging Bundle  # noqa: E501

        Adds a new Staging Bundle  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_add(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StagingBundleRequestV2Model body: Staging Bundle that needs to be added(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.staging_bundles_v2_staging_bundles_add_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.staging_bundles_v2_staging_bundles_add_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def staging_bundles_v2_staging_bundles_add_with_http_info(self, body, **kwargs):  # noqa: E501
        """New - Adds a new Staging Bundle  # noqa: E501

        Adds a new Staging Bundle  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_add_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StagingBundleRequestV2Model body: Staging Bundle that needs to be added(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method staging_bundles_v2_staging_bundles_add" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `staging_bundles_v2_staging_bundles_add`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/product-components/staging-bundles', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def staging_bundles_v2_staging_bundles_delete(self, staging_uuid, **kwargs):  # noqa: E501
        """New - Deletes a Staging Bundle identified by Staging Bundle UUID  # noqa: E501

        Deletes a Staging Bundle package identified by the Staging Bundle UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_delete(staging_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str staging_uuid: UUID of Staging Bundle to return(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.staging_bundles_v2_staging_bundles_delete_with_http_info(staging_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.staging_bundles_v2_staging_bundles_delete_with_http_info(staging_uuid, **kwargs)  # noqa: E501
            return data

    def staging_bundles_v2_staging_bundles_delete_with_http_info(self, staging_uuid, **kwargs):  # noqa: E501
        """New - Deletes a Staging Bundle identified by Staging Bundle UUID  # noqa: E501

        Deletes a Staging Bundle package identified by the Staging Bundle UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_delete_with_http_info(staging_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str staging_uuid: UUID of Staging Bundle to return(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['staging_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method staging_bundles_v2_staging_bundles_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'staging_uuid' is set
        if self.api_client.client_side_validation and ('staging_uuid' not in params or
                                                       params['staging_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `staging_uuid` when calling `staging_bundles_v2_staging_bundles_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'staging_uuid' in params:
            path_params['stagingUuid'] = params['staging_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/product-components/staging-bundles/{stagingUuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def staging_bundles_v2_staging_bundles_update(self, body, **kwargs):  # noqa: E501
        """New - Updates a Staging Bundle identified by Staging Bundle UUID  # noqa: E501

        Updates a Staging Bundle with Staging Bundle UUID as the required field  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_update(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StagingBundleRequestV2Model body: Staging Bundle that needs to be updated(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.staging_bundles_v2_staging_bundles_update_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.staging_bundles_v2_staging_bundles_update_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def staging_bundles_v2_staging_bundles_update_with_http_info(self, body, **kwargs):  # noqa: E501
        """New - Updates a Staging Bundle identified by Staging Bundle UUID  # noqa: E501

        Updates a Staging Bundle with Staging Bundle UUID as the required field  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v2_staging_bundles_update_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StagingBundleRequestV2Model body: Staging Bundle that needs to be updated(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method staging_bundles_v2_staging_bundles_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `staging_bundles_v2_staging_bundles_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/product-components/staging-bundles', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
