# coding: utf-8

"""
    MDM API V2

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv2.api_client import ApiClient


class StagingV2Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def staging_v2_generate_qr_code_pdf_file(self, configure_qr_code_enrollment_model_v2, **kwargs):  # noqa: E501
        """New - Retrieves a QRCode pdf file for Enrollment  # noqa: E501

        Retrieves a QRCode pdf file for Enrollment used in Enrollment for Corporate Owned AFW Devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_v2_generate_qr_code_pdf_file(configure_qr_code_enrollment_model_v2, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConfigureQRCodeEnrollmentV2Model configure_qr_code_enrollment_model_v2: Configure QRCode Enrollment Model(Required) (required)
        :return: Stream
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.staging_v2_generate_qr_code_pdf_file_with_http_info(configure_qr_code_enrollment_model_v2, **kwargs)  # noqa: E501
        else:
            (data) = self.staging_v2_generate_qr_code_pdf_file_with_http_info(configure_qr_code_enrollment_model_v2, **kwargs)  # noqa: E501
            return data

    def staging_v2_generate_qr_code_pdf_file_with_http_info(self, configure_qr_code_enrollment_model_v2, **kwargs):  # noqa: E501
        """New - Retrieves a QRCode pdf file for Enrollment  # noqa: E501

        Retrieves a QRCode pdf file for Enrollment used in Enrollment for Corporate Owned AFW Devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_v2_generate_qr_code_pdf_file_with_http_info(configure_qr_code_enrollment_model_v2, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ConfigureQRCodeEnrollmentV2Model configure_qr_code_enrollment_model_v2: Configure QRCode Enrollment Model(Required) (required)
        :return: Stream
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['configure_qr_code_enrollment_model_v2']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method staging_v2_generate_qr_code_pdf_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'configure_qr_code_enrollment_model_v2' is set
        if self.api_client.client_side_validation and ('configure_qr_code_enrollment_model_v2' not in params or
                                                       params['configure_qr_code_enrollment_model_v2'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `configure_qr_code_enrollment_model_v2` when calling `staging_v2_generate_qr_code_pdf_file`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'configure_qr_code_enrollment_model_v2' in params:
            body_params = params['configure_qr_code_enrollment_model_v2']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/pdf;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/staging/androidwork/qrcodeenrollment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Stream',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
