# coding: utf-8

"""
    System API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from systemv1.api_client import ApiClient


class AdminsV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admins_v1_add_role_to_user(self, id, role, **kwargs):  # noqa: E501
        """Adds a role to the specified admin user.  # noqa: E501

        Performs necessary checks and add an role for an existing admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_add_role_to_user(id, role, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :param RoleModel_ role: The role to add. (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_add_role_to_user_with_http_info(id, role, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_add_role_to_user_with_http_info(id, role, **kwargs)  # noqa: E501
            return data

    def admins_v1_add_role_to_user_with_http_info(self, id, role, **kwargs):  # noqa: E501
        """Adds a role to the specified admin user.  # noqa: E501

        Performs necessary checks and add an role for an existing admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_add_role_to_user_with_http_info(id, role, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :param RoleModel_ role: The role to add. (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'role']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_add_role_to_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `admins_v1_add_role_to_user`")  # noqa: E501
        # verify the required parameter 'role' is set
        if self.api_client.client_side_validation and ('role' not in params or
                                                       params['role'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `role` when calling `admins_v1_add_role_to_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'role' in params:
            body_params = params['role']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{id}/addrole', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_change_password(self, id, adminuser, **kwargs):  # noqa: E501
        """Changes the specified admin user's password.  # noqa: E501

        Performs necessary checks and update the password for an existing admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_change_password(id, adminuser, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :param AdminUser_ adminuser: The admin user details. (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_change_password_with_http_info(id, adminuser, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_change_password_with_http_info(id, adminuser, **kwargs)  # noqa: E501
            return data

    def admins_v1_change_password_with_http_info(self, id, adminuser, **kwargs):  # noqa: E501
        """Changes the specified admin user's password.  # noqa: E501

        Performs necessary checks and update the password for an existing admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_change_password_with_http_info(id, adminuser, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :param AdminUser_ adminuser: The admin user details. (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'adminuser']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_change_password" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `admins_v1_change_password`")  # noqa: E501
        # verify the required parameter 'adminuser' is set
        if self.api_client.client_side_validation and ('adminuser' not in params or
                                                       params['adminuser'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `adminuser` when calling `admins_v1_change_password`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'adminuser' in params:
            body_params = params['adminuser']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{id}/changepassword', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_delete(self, id, **kwargs):  # noqa: E501
        """Deletes the specified admin user.  # noqa: E501

        Performs necessary checks and delete all the information of the Admin based on admin id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_delete(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_delete_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_delete_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def admins_v1_delete_with_http_info(self, id, **kwargs):  # noqa: E501
        """Deletes the specified admin user.  # noqa: E501

        Performs necessary checks and delete all the information of the Admin based on admin id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_delete_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `admins_v1_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{id}/delete', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_get(self, id, **kwargs):  # noqa: E501
        """Retrieves information about the specified admin user.  # noqa: E501

        Performs necessary checks and get all the information of the Admin based on admin id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :return: AdminUser
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def admins_v1_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves information about the specified admin user.  # noqa: E501

        Performs necessary checks and get all the information of the Admin based on admin id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :return: AdminUser
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `admins_v1_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdminUser',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_get_configurations_about_page(self, admin_id, **kwargs):  # noqa: E501
        """New - Retrieves the value for showConfigurationsAboutPage.  # noqa: E501

        Retrieves the value for showConfigurationsAboutPage which will be used to enable or disable the About page.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_get_configurations_about_page(admin_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int admin_id: Identifier for an admin(Required). (required)
        :return: ConfigurationsAboutModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_get_configurations_about_page_with_http_info(admin_id, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_get_configurations_about_page_with_http_info(admin_id, **kwargs)  # noqa: E501
            return data

    def admins_v1_get_configurations_about_page_with_http_info(self, admin_id, **kwargs):  # noqa: E501
        """New - Retrieves the value for showConfigurationsAboutPage.  # noqa: E501

        Retrieves the value for showConfigurationsAboutPage which will be used to enable or disable the About page.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_get_configurations_about_page_with_http_info(admin_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int admin_id: Identifier for an admin(Required). (required)
        :return: ConfigurationsAboutModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['admin_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_get_configurations_about_page" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'admin_id' is set
        if self.api_client.client_side_validation and ('admin_id' not in params or
                                                       params['admin_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `admin_id` when calling `admins_v1_get_configurations_about_page`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'admin_id' in params:
            path_params['adminId'] = params['admin_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{adminId}/configurationsaboutpage', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigurationsAboutModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_put(self, admin_user, **kwargs):  # noqa: E501
        """Creates a new admin user.  # noqa: E501

        Performs necessary checks and Create a new Admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_put(admin_user, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdminUser_ admin_user: The admin user resource to create (Required). (required)
        :return: EntityId
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_put_with_http_info(admin_user, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_put_with_http_info(admin_user, **kwargs)  # noqa: E501
            return data

    def admins_v1_put_with_http_info(self, admin_user, **kwargs):  # noqa: E501
        """Creates a new admin user.  # noqa: E501

        Performs necessary checks and Create a new Admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_put_with_http_info(admin_user, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AdminUser_ admin_user: The admin user resource to create (Required). (required)
        :return: EntityId
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['admin_user']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'admin_user' is set
        if self.api_client.client_side_validation and ('admin_user' not in params or
                                                       params['admin_user'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `admin_user` when calling `admins_v1_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'admin_user' in params:
            body_params = params['admin_user']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/addadminuser', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EntityId',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_remove_role_from_user(self, id, role, **kwargs):  # noqa: E501
        """Removes a role from the specified admin user.  # noqa: E501

        Performs necessary checks and remove an role from an existing admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_remove_role_from_user(id, role, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID. (Required). (required)
        :param RoleModel_ role: The role to remove. (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_remove_role_from_user_with_http_info(id, role, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_remove_role_from_user_with_http_info(id, role, **kwargs)  # noqa: E501
            return data

    def admins_v1_remove_role_from_user_with_http_info(self, id, role, **kwargs):  # noqa: E501
        """Removes a role from the specified admin user.  # noqa: E501

        Performs necessary checks and remove an role from an existing admin.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_remove_role_from_user_with_http_info(id, role, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID. (Required). (required)
        :param RoleModel_ role: The role to remove. (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'role']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_remove_role_from_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `admins_v1_remove_role_from_user`")  # noqa: E501
        # verify the required parameter 'role' is set
        if self.api_client.client_side_validation and ('role' not in params or
                                                       params['role'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `role` when calling `admins_v1_remove_role_from_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'role' in params:
            body_params = params['role']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{id}/removerole', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_search_async(self, **kwargs):  # noqa: E501
        """Searches for Admin users using the query information provided.  # noqa: E501

        Performs necessary checks and search for the admin users based on the request query.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_search_async(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str firstname: The First name to search for.
        :param str lastname: The Last name to search for.
        :param str email: The Email Address to search for.
        :param int organizationgroupid: The Organization Group Id to search for.
        :param str role: The Role name to search for.
        :param str username: The User name to search for.
        :param str orderby: Order the results by this attribute.
        :param int page: The specific page number to get.
        :param int pagesize: Maximum records per page.
        :param str sortorder: Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.
        :param str status: The admin status. Allowed values are Active or Inactive. Defaults to all, if this attribute is not specified.
        :return: AdminSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_search_async_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_search_async_with_http_info(**kwargs)  # noqa: E501
            return data

    def admins_v1_search_async_with_http_info(self, **kwargs):  # noqa: E501
        """Searches for Admin users using the query information provided.  # noqa: E501

        Performs necessary checks and search for the admin users based on the request query.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_search_async_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str firstname: The First name to search for.
        :param str lastname: The Last name to search for.
        :param str email: The Email Address to search for.
        :param int organizationgroupid: The Organization Group Id to search for.
        :param str role: The Role name to search for.
        :param str username: The User name to search for.
        :param str orderby: Order the results by this attribute.
        :param int page: The specific page number to get.
        :param int pagesize: Maximum records per page.
        :param str sortorder: Sorting order. Allowed values are ASC or DESC. Defaults to ASC if this attribute is not specified.
        :param str status: The admin status. Allowed values are Active or Inactive. Defaults to all, if this attribute is not specified.
        :return: AdminSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['firstname', 'lastname', 'email', 'organizationgroupid', 'role', 'username', 'orderby', 'page', 'pagesize', 'sortorder', 'status']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_search_async" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'firstname' in params:
            query_params.append(('firstname', params['firstname']))  # noqa: E501
        if 'lastname' in params:
            query_params.append(('lastname', params['lastname']))  # noqa: E501
        if 'email' in params:
            query_params.append(('email', params['email']))  # noqa: E501
        if 'organizationgroupid' in params:
            query_params.append(('organizationgroupid', params['organizationgroupid']))  # noqa: E501
        if 'role' in params:
            query_params.append(('role', params['role']))  # noqa: E501
        if 'username' in params:
            query_params.append(('username', params['username']))  # noqa: E501
        if 'orderby' in params:
            query_params.append(('orderby', params['orderby']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'sortorder' in params:
            query_params.append(('sortorder', params['sortorder']))  # noqa: E501
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdminSearchResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_update_admin_user(self, id, **kwargs):  # noqa: E501
        """Updates the specified admin user.  # noqa: E501

        Performs necessary checks and Update the Admin properties based on Id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_update_admin_user(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :param AdminUser_ admin_user: The updated admin user details.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_update_admin_user_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_update_admin_user_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def admins_v1_update_admin_user_with_http_info(self, id, **kwargs):  # noqa: E501
        """Updates the specified admin user.  # noqa: E501

        Performs necessary checks and Update the Admin properties based on Id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_update_admin_user_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The admin user ID (Required). (required)
        :param AdminUser_ admin_user: The updated admin user details.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'admin_user']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_update_admin_user" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `admins_v1_update_admin_user`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'admin_user' in params:
            body_params = params['admin_user']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{id}/update', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def admins_v1_update_configurations_about_page(self, admin_id, showpage, **kwargs):  # noqa: E501
        """New - Updates the value for showConfigurationsAboutPage.  # noqa: E501

        Updates the value for showConfigurationsAboutPage which will be used to enable or disable the About page.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_update_configurations_about_page(admin_id, showpage, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int admin_id: Identifier for an admin(Required). (required)
        :param bool showpage: true if the About page should be displayed for Configurations(Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admins_v1_update_configurations_about_page_with_http_info(admin_id, showpage, **kwargs)  # noqa: E501
        else:
            (data) = self.admins_v1_update_configurations_about_page_with_http_info(admin_id, showpage, **kwargs)  # noqa: E501
            return data

    def admins_v1_update_configurations_about_page_with_http_info(self, admin_id, showpage, **kwargs):  # noqa: E501
        """New - Updates the value for showConfigurationsAboutPage.  # noqa: E501

        Updates the value for showConfigurationsAboutPage which will be used to enable or disable the About page.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admins_v1_update_configurations_about_page_with_http_info(admin_id, showpage, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int admin_id: Identifier for an admin(Required). (required)
        :param bool showpage: true if the About page should be displayed for Configurations(Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['admin_id', 'showpage']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admins_v1_update_configurations_about_page" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'admin_id' is set
        if self.api_client.client_side_validation and ('admin_id' not in params or
                                                       params['admin_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `admin_id` when calling `admins_v1_update_configurations_about_page`")  # noqa: E501
        # verify the required parameter 'showpage' is set
        if self.api_client.client_side_validation and ('showpage' not in params or
                                                       params['showpage'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `showpage` when calling `admins_v1_update_configurations_about_page`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'admin_id' in params:
            path_params['adminId'] = params['admin_id']  # noqa: E501
        if 'showpage' in params:
            path_params['showpage'] = params['showpage']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/admins/{adminId}/configurationsaboutpage/{showpage}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
