# coding: utf-8

"""
    System API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from systemv1.api_client import ApiClient


class AdminIdentityV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admin_identity_v1_get_admin_identity(self, token_service_idp_request_model_v1, **kwargs):  # noqa: E501
        """New - Provides identity required to create token for basic and directory admin user.  # noqa: E501

        This API identifies the admin user and returns the uuid for the same.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_identity_v1_get_admin_identity(token_service_idp_request_model_v1, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TokenServiceIdpRequestModelV1 token_service_idp_request_model_v1: Request body containing username password and tenant uuid.(Required) (required)
        :return: AdminUserIdentityModelV1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admin_identity_v1_get_admin_identity_with_http_info(token_service_idp_request_model_v1, **kwargs)  # noqa: E501
        else:
            (data) = self.admin_identity_v1_get_admin_identity_with_http_info(token_service_idp_request_model_v1, **kwargs)  # noqa: E501
            return data

    def admin_identity_v1_get_admin_identity_with_http_info(self, token_service_idp_request_model_v1, **kwargs):  # noqa: E501
        """New - Provides identity required to create token for basic and directory admin user.  # noqa: E501

        This API identifies the admin user and returns the uuid for the same.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_identity_v1_get_admin_identity_with_http_info(token_service_idp_request_model_v1, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TokenServiceIdpRequestModelV1 token_service_idp_request_model_v1: Request body containing username password and tenant uuid.(Required) (required)
        :return: AdminUserIdentityModelV1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['token_service_idp_request_model_v1']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_identity_v1_get_admin_identity" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'token_service_idp_request_model_v1' is set
        if self.api_client.client_side_validation and ('token_service_idp_request_model_v1' not in params or
                                                       params['token_service_idp_request_model_v1'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `token_service_idp_request_model_v1` when calling `admin_identity_v1_get_admin_identity`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'token_service_idp_request_model_v1' in params:
            body_params = params['token_service_idp_request_model_v1']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/idp/admin', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AdminUserIdentityModelV1',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
