# coding: utf-8

"""
    System API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from systemv1.api_client import ApiClient


class ApnsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def apns_apns_certificate(self, id, **kwargs):  # noqa: E501
        """Method to Create APNs Certificate Request.  # noqa: E501

        Returns the status of the APNs Configuration for an Organization Group.  Upload certificate Blob Id is -1 when APNs is already Configured for the Organization Group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apns_apns_certificate(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required). (required)
        :param bool force: Option to force generate APNs Cert Request.
        :return: ApnsSetupModel_
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apns_apns_certificate_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.apns_apns_certificate_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def apns_apns_certificate_with_http_info(self, id, **kwargs):  # noqa: E501
        """Method to Create APNs Certificate Request.  # noqa: E501

        Returns the status of the APNs Configuration for an Organization Group.  Upload certificate Blob Id is -1 when APNs is already Configured for the Organization Group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apns_apns_certificate_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required). (required)
        :param bool force: Option to force generate APNs Cert Request.
        :return: ApnsSetupModel_
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'force']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apns_apns_certificate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `apns_apns_certificate`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{id}/apns', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApnsSetupModel_',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apns_save_apns_certificate(self, apns_setup_model, id, **kwargs):  # noqa: E501
        """Method to Save the APNs Configuration for an Organization Group.  # noqa: E501

        This endpoint is applicable after the APNs certificate Blob(.pem) is uploaded to the AirWatch server.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apns_save_apns_certificate(apns_setup_model, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApnsSetupModel_ apns_setup_model: Parameter for APNs Setup Model (Required). (required)
        :param int id: This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apns_save_apns_certificate_with_http_info(apns_setup_model, id, **kwargs)  # noqa: E501
        else:
            (data) = self.apns_save_apns_certificate_with_http_info(apns_setup_model, id, **kwargs)  # noqa: E501
            return data

    def apns_save_apns_certificate_with_http_info(self, apns_setup_model, id, **kwargs):  # noqa: E501
        """Method to Save the APNs Configuration for an Organization Group.  # noqa: E501

        This endpoint is applicable after the APNs certificate Blob(.pem) is uploaded to the AirWatch server.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apns_save_apns_certificate_with_http_info(apns_setup_model, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApnsSetupModel_ apns_setup_model: Parameter for APNs Setup Model (Required). (required)
        :param int id: This is the Organization Group Identifier also known as GroupID. Typically used during enrollment (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['apns_setup_model', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apns_save_apns_certificate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'apns_setup_model' is set
        if self.api_client.client_side_validation and ('apns_setup_model' not in params or
                                                       params['apns_setup_model'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `apns_setup_model` when calling `apns_save_apns_certificate`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `apns_save_apns_certificate`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'apns_setup_model' in params:
            body_params = params['apns_setup_model']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{id}/apns', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apns_update_apns_certificate(self, id, **kwargs):  # noqa: E501
        """New - Update the APNs Configuration for an Organization Group.  # noqa: E501

        This endpoint is applicable after APNs is configured on the AirWatch server.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apns_update_apns_certificate(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The OrganizationGroup Identifier (Required). (required)
        :param ApnsConfigurationModel apns_configuration_model: Parameter for APNs Configuration Model.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apns_update_apns_certificate_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.apns_update_apns_certificate_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def apns_update_apns_certificate_with_http_info(self, id, **kwargs):  # noqa: E501
        """New - Update the APNs Configuration for an Organization Group.  # noqa: E501

        This endpoint is applicable after APNs is configured on the AirWatch server.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apns_update_apns_certificate_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The OrganizationGroup Identifier (Required). (required)
        :param ApnsConfigurationModel apns_configuration_model: Parameter for APNs Configuration Model.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'apns_configuration_model']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apns_update_apns_certificate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `apns_update_apns_certificate`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'apns_configuration_model' in params:
            body_params = params['apns_configuration_model']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{id}/apns', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
