# coding: utf-8

"""
    System API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from systemv1.api_client import ApiClient


class EnableDropshipProvisioningV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def enable_dropship_provisioning_v1_enable_dropship_provisioning_async(self, uuid, enable_dropship_provisioning_details, **kwargs):  # noqa: E501
        """New - Enable a dropship provisioning for given organization groups  # noqa: E501

        Saves and enable dropship provisioning for a given Organization Group UUID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_dropship_provisioning_v1_enable_dropship_provisioning_async(uuid, enable_dropship_provisioning_details, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization group UUID to perform the operation on.(Required). (required)
        :param DropshipProvisioningSettingsDetailsRequestV1Model enable_dropship_provisioning_details: Enable Dropship Provisioning to be saved.(Required). (required)
        :return: DropshipProvisioningSettingsDetailsResponseV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.enable_dropship_provisioning_v1_enable_dropship_provisioning_async_with_http_info(uuid, enable_dropship_provisioning_details, **kwargs)  # noqa: E501
        else:
            (data) = self.enable_dropship_provisioning_v1_enable_dropship_provisioning_async_with_http_info(uuid, enable_dropship_provisioning_details, **kwargs)  # noqa: E501
            return data

    def enable_dropship_provisioning_v1_enable_dropship_provisioning_async_with_http_info(self, uuid, enable_dropship_provisioning_details, **kwargs):  # noqa: E501
        """New - Enable a dropship provisioning for given organization groups  # noqa: E501

        Saves and enable dropship provisioning for a given Organization Group UUID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_dropship_provisioning_v1_enable_dropship_provisioning_async_with_http_info(uuid, enable_dropship_provisioning_details, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization group UUID to perform the operation on.(Required). (required)
        :param DropshipProvisioningSettingsDetailsRequestV1Model enable_dropship_provisioning_details: Enable Dropship Provisioning to be saved.(Required). (required)
        :return: DropshipProvisioningSettingsDetailsResponseV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'enable_dropship_provisioning_details']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method enable_dropship_provisioning_v1_enable_dropship_provisioning_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if self.api_client.client_side_validation and ('uuid' not in params or
                                                       params['uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uuid` when calling `enable_dropship_provisioning_v1_enable_dropship_provisioning_async`")  # noqa: E501
        # verify the required parameter 'enable_dropship_provisioning_details' is set
        if self.api_client.client_side_validation and ('enable_dropship_provisioning_details' not in params or
                                                       params['enable_dropship_provisioning_details'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `enable_dropship_provisioning_details` when calling `enable_dropship_provisioning_v1_enable_dropship_provisioning_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'enable_dropship_provisioning_details' in params:
            body_params = params['enable_dropship_provisioning_details']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{uuid}/dropship-provisioning', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DropshipProvisioningSettingsDetailsResponseV1Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def enable_dropship_provisioning_v1_get_details_async(self, uuid, **kwargs):  # noqa: E501
        """New - Gets dropship provisioning details of a given organization group UUID.  # noqa: E501

        Returns dropship provisioning details of given organization group id and its children.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_dropship_provisioning_v1_get_details_async(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization group UUID to perform the operation on.(Required). (required)
        :return: DropshipProvisioningSettingsDetailsResponseV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.enable_dropship_provisioning_v1_get_details_async_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.enable_dropship_provisioning_v1_get_details_async_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def enable_dropship_provisioning_v1_get_details_async_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """New - Gets dropship provisioning details of a given organization group UUID.  # noqa: E501

        Returns dropship provisioning details of given organization group id and its children.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enable_dropship_provisioning_v1_get_details_async_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization group UUID to perform the operation on.(Required). (required)
        :return: DropshipProvisioningSettingsDetailsResponseV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method enable_dropship_provisioning_v1_get_details_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if self.api_client.client_side_validation and ('uuid' not in params or
                                                       params['uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uuid` when calling `enable_dropship_provisioning_v1_get_details_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{uuid}/dropship-provisioning', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DropshipProvisioningSettingsDetailsResponseV1Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
