# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class AdminActionV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def admin_action_v1_bulk_admin_action_async(self, admin_action, body, **kwargs):  # noqa: E501
        """New - Executes the admin action for the set of devices after performing necessary checks like command accessibility, device enrollment status, support for command on device etc.  # noqa: E501

        Execute Admin Action for specified set of devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_action_v1_bulk_admin_action_async(admin_action, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str admin_action: The command to execute [ENTERPRISE_WIPE, DEVICE_WIPE, REBOOT, SUSPEND, WAKEUP,SYNC_DEVICE,SHUTDOWN, DEVICE_INFORMATION,SEND_MESSAGE,REQUEST_DEVICE_LOG].(Required). (required)
        :param BulkAdminActionsV1Request body: Model containing the command XML passed to the API.(Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.admin_action_v1_bulk_admin_action_async_with_http_info(admin_action, body, **kwargs)  # noqa: E501
        else:
            (data) = self.admin_action_v1_bulk_admin_action_async_with_http_info(admin_action, body, **kwargs)  # noqa: E501
            return data

    def admin_action_v1_bulk_admin_action_async_with_http_info(self, admin_action, body, **kwargs):  # noqa: E501
        """New - Executes the admin action for the set of devices after performing necessary checks like command accessibility, device enrollment status, support for command on device etc.  # noqa: E501

        Execute Admin Action for specified set of devices  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.admin_action_v1_bulk_admin_action_async_with_http_info(admin_action, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str admin_action: The command to execute [ENTERPRISE_WIPE, DEVICE_WIPE, REBOOT, SUSPEND, WAKEUP,SYNC_DEVICE,SHUTDOWN, DEVICE_INFORMATION,SEND_MESSAGE,REQUEST_DEVICE_LOG].(Required). (required)
        :param BulkAdminActionsV1Request body: Model containing the command XML passed to the API.(Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['admin_action', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method admin_action_v1_bulk_admin_action_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'admin_action' is set
        if self.api_client.client_side_validation and ('admin_action' not in params or
                                                       params['admin_action'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `admin_action` when calling `admin_action_v1_bulk_admin_action_async`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `admin_action_v1_bulk_admin_action_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'admin_action' in params:
            path_params['adminAction'] = params['admin_action']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/admin-actions/{adminAction}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
