# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class CertificatesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def certificates_get_certificates_by_alternate_id(self, searchby, id, **kwargs):  # noqa: E501
        """Retrieves certificate details of the device identified by the alternate Id's.  # noqa: E501

        Certficate details contains information like the sampling period, error details, name, expiration, issued date and the status. This API allows searching a device using alternate Id's specified in the searchby parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.certificates_get_certificates_by_alternate_id(searchby, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str searchby: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber] (Required). (required)
        :param str id: Device alternate id (Example: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :return: DeviceCertificateSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.certificates_get_certificates_by_alternate_id_with_http_info(searchby, id, **kwargs)  # noqa: E501
        else:
            (data) = self.certificates_get_certificates_by_alternate_id_with_http_info(searchby, id, **kwargs)  # noqa: E501
            return data

    def certificates_get_certificates_by_alternate_id_with_http_info(self, searchby, id, **kwargs):  # noqa: E501
        """Retrieves certificate details of the device identified by the alternate Id's.  # noqa: E501

        Certficate details contains information like the sampling period, error details, name, expiration, issued date and the status. This API allows searching a device using alternate Id's specified in the searchby parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.certificates_get_certificates_by_alternate_id_with_http_info(searchby, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str searchby: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber] (Required). (required)
        :param str id: Device alternate id (Example: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :return: DeviceCertificateSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['searchby', 'id', 'page', 'pagesize']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method certificates_get_certificates_by_alternate_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'searchby' is set
        if self.api_client.client_side_validation and ('searchby' not in params or
                                                       params['searchby'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `searchby` when calling `certificates_get_certificates_by_alternate_id`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `certificates_get_certificates_by_alternate_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'searchby' in params:
            query_params.append(('searchby', params['searchby']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/certificates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceCertificateSearchResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def certificates_get_certificates_by_device(self, id, **kwargs):  # noqa: E501
        """Retrieves certificate details of the device identified by device Id.  # noqa: E501

        Certificate details contains information like the sampling period, error details, name, expiration, issued date and the status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.certificates_get_certificates_by_device(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Device identifier (Example: 3010055). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :return: DeviceCertificateSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.certificates_get_certificates_by_device_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.certificates_get_certificates_by_device_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def certificates_get_certificates_by_device_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves certificate details of the device identified by device Id.  # noqa: E501

        Certificate details contains information like the sampling period, error details, name, expiration, issued date and the status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.certificates_get_certificates_by_device_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Device identifier (Example: 3010055). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :return: DeviceCertificateSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'page', 'pagesize']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method certificates_get_certificates_by_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `certificates_get_certificates_by_device`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{id}/certificates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceCertificateSearchResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
