# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class DeviceSensorsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def device_sensors_get_device_sensors_by_device_uuid_async(self, device_uuid, **kwargs):  # noqa: E501
        """New - Returns the list of sensors reported by the specified device.  # noqa: E501

        Gets the list of sensors reported by the specified device.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.device_sensors_get_device_sensors_by_device_uuid_async(device_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: The unique identifier of the device.              Accepted formats **guid**.              E.g. 3d958f38-246e-4854-a306-189d941ab073.(Required) (required)
        :param str search_text: Filter records based on the sensor name and value. Pattern search will be performed.
        :param int limit: An integer that indicates the maximum number of results to return. Valid input range for this property is 1 to 2000. (Default value - 50).
        :param int offset: An integer describing the starting position in the result set. Valid input range for this property is 0 to 2000. (Default value - 0).
        :param str orderby: Name of the property used for sorting. Default is Name. Accepted values are [name] and [last_executed_at].
        :param str sort_order: Whether the sort order is ascending or descending. Default value is Asc. Accepted values are [Asc] and [Desc].
        :return: DeviceSensorSearchResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.device_sensors_get_device_sensors_by_device_uuid_async_with_http_info(device_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.device_sensors_get_device_sensors_by_device_uuid_async_with_http_info(device_uuid, **kwargs)  # noqa: E501
            return data

    def device_sensors_get_device_sensors_by_device_uuid_async_with_http_info(self, device_uuid, **kwargs):  # noqa: E501
        """New - Returns the list of sensors reported by the specified device.  # noqa: E501

        Gets the list of sensors reported by the specified device.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.device_sensors_get_device_sensors_by_device_uuid_async_with_http_info(device_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: The unique identifier of the device.              Accepted formats **guid**.              E.g. 3d958f38-246e-4854-a306-189d941ab073.(Required) (required)
        :param str search_text: Filter records based on the sensor name and value. Pattern search will be performed.
        :param int limit: An integer that indicates the maximum number of results to return. Valid input range for this property is 1 to 2000. (Default value - 50).
        :param int offset: An integer describing the starting position in the result set. Valid input range for this property is 0 to 2000. (Default value - 0).
        :param str orderby: Name of the property used for sorting. Default is Name. Accepted values are [name] and [last_executed_at].
        :param str sort_order: Whether the sort order is ascending or descending. Default value is Asc. Accepted values are [Asc] and [Desc].
        :return: DeviceSensorSearchResponseModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_uuid', 'search_text', 'limit', 'offset', 'orderby', 'sort_order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_sensors_get_device_sensors_by_device_uuid_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_uuid' is set
        if self.api_client.client_side_validation and ('device_uuid' not in params or
                                                       params['device_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `device_uuid` when calling `device_sensors_get_device_sensors_by_device_uuid_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_uuid' in params:
            path_params['deviceUuid'] = params['device_uuid']  # noqa: E501

        query_params = []
        if 'search_text' in params:
            query_params.append(('search_text', params['search_text']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'orderby' in params:
            query_params.append(('orderby', params['orderby']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sort_order', params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{deviceUuid}/sensors', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceSensorSearchResponseModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
