# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class DirectEnrollmentSettingsV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def direct_enrollment_settings_v1_create_direct_enrollment_settings(self, uuid, direct_enrollment_settings, **kwargs):  # noqa: E501
        """New - Creates a new system override to save direct enrollment settings for Workspace ONE  # noqa: E501

        Saves direct enrollment settings for Workspace ONE devices by enabling it for iOS, Legacy Android, and Android Enterprise devices and then assigns them to a specific user group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.direct_enrollment_settings_v1_create_direct_enrollment_settings(uuid, direct_enrollment_settings, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization Group code at which the direct enrollment settings will be returned(Required). (required)
        :param DirectEnrollmentSettingsRequestV1Model direct_enrollment_settings: Details of the direct enrollment settings to be created.(Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.direct_enrollment_settings_v1_create_direct_enrollment_settings_with_http_info(uuid, direct_enrollment_settings, **kwargs)  # noqa: E501
        else:
            (data) = self.direct_enrollment_settings_v1_create_direct_enrollment_settings_with_http_info(uuid, direct_enrollment_settings, **kwargs)  # noqa: E501
            return data

    def direct_enrollment_settings_v1_create_direct_enrollment_settings_with_http_info(self, uuid, direct_enrollment_settings, **kwargs):  # noqa: E501
        """New - Creates a new system override to save direct enrollment settings for Workspace ONE  # noqa: E501

        Saves direct enrollment settings for Workspace ONE devices by enabling it for iOS, Legacy Android, and Android Enterprise devices and then assigns them to a specific user group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.direct_enrollment_settings_v1_create_direct_enrollment_settings_with_http_info(uuid, direct_enrollment_settings, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization Group code at which the direct enrollment settings will be returned(Required). (required)
        :param DirectEnrollmentSettingsRequestV1Model direct_enrollment_settings: Details of the direct enrollment settings to be created.(Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'direct_enrollment_settings']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method direct_enrollment_settings_v1_create_direct_enrollment_settings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if self.api_client.client_side_validation and ('uuid' not in params or
                                                       params['uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uuid` when calling `direct_enrollment_settings_v1_create_direct_enrollment_settings`")  # noqa: E501
        # verify the required parameter 'direct_enrollment_settings' is set
        if self.api_client.client_side_validation and ('direct_enrollment_settings' not in params or
                                                       params['direct_enrollment_settings'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `direct_enrollment_settings` when calling `direct_enrollment_settings_v1_create_direct_enrollment_settings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'direct_enrollment_settings' in params:
            body_params = params['direct_enrollment_settings']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{uuid}/settings/directenrollment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def direct_enrollment_settings_v1_get_direct_enrollment_settings(self, uuid, **kwargs):  # noqa: E501
        """New - Get direct enrollment settings for Workspace ONE  # noqa: E501

        Get admin configured direct enrollment settings for Workspace ONE devices at a location group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.direct_enrollment_settings_v1_get_direct_enrollment_settings(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization Group code at which the direct enrollment settings will be returned(Required). (required)
        :return: DirectEnrollmentSettingsResponseV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.direct_enrollment_settings_v1_get_direct_enrollment_settings_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.direct_enrollment_settings_v1_get_direct_enrollment_settings_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def direct_enrollment_settings_v1_get_direct_enrollment_settings_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """New - Get direct enrollment settings for Workspace ONE  # noqa: E501

        Get admin configured direct enrollment settings for Workspace ONE devices at a location group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.direct_enrollment_settings_v1_get_direct_enrollment_settings_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: Organization Group code at which the direct enrollment settings will be returned(Required). (required)
        :return: DirectEnrollmentSettingsResponseV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method direct_enrollment_settings_v1_get_direct_enrollment_settings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if self.api_client.client_side_validation and ('uuid' not in params or
                                                       params['uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uuid` when calling `direct_enrollment_settings_v1_get_direct_enrollment_settings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/groups/{uuid}/settings/directenrollment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DirectEnrollmentSettingsResponseV1Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
