# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class EventLogApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def event_log_get_event_logs_by_alternate_id(self, search_by, id, **kwargs):  # noqa: E501
        """Retrieves events corresponding to the device identified by alternate Id's.  # noqa: E501

        Event log contains information like the severity, timestamp, source, actual event details and the account corresponding to the event. This API allows searching a device using alternate Id's specified in the searchby parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.event_log_get_event_logs_by_alternate_id(search_by, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber] (Required). (required)
        :param str id: Device alternate id (Example: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :param str severity: Event severity; possible values: [emergency, alert, critical, error, warning, notice, information, debug].
        :param int dayrange: Number of days in the past for which the logs will be fetched (Example: 2).
        :return: DeviceEventLogSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.event_log_get_event_logs_by_alternate_id_with_http_info(search_by, id, **kwargs)  # noqa: E501
        else:
            (data) = self.event_log_get_event_logs_by_alternate_id_with_http_info(search_by, id, **kwargs)  # noqa: E501
            return data

    def event_log_get_event_logs_by_alternate_id_with_http_info(self, search_by, id, **kwargs):  # noqa: E501
        """Retrieves events corresponding to the device identified by alternate Id's.  # noqa: E501

        Event log contains information like the severity, timestamp, source, actual event details and the account corresponding to the event. This API allows searching a device using alternate Id's specified in the searchby parameter.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.event_log_get_event_logs_by_alternate_id_with_http_info(search_by, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber] (Required). (required)
        :param str id: Device alternate id (Example: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :param str severity: Event severity; possible values: [emergency, alert, critical, error, warning, notice, information, debug].
        :param int dayrange: Number of days in the past for which the logs will be fetched (Example: 2).
        :return: DeviceEventLogSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_by', 'id', 'page', 'pagesize', 'severity', 'dayrange']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method event_log_get_event_logs_by_alternate_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_by' is set
        if self.api_client.client_side_validation and ('search_by' not in params or
                                                       params['search_by'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `search_by` when calling `event_log_get_event_logs_by_alternate_id`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `event_log_get_event_logs_by_alternate_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'search_by' in params:
            query_params.append(('searchBy', params['search_by']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'severity' in params:
            query_params.append(('severity', params['severity']))  # noqa: E501
        if 'dayrange' in params:
            query_params.append(('dayrange', params['dayrange']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/eventlog', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceEventLogSearchResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def event_log_get_event_logs_by_device(self, id, **kwargs):  # noqa: E501
        """Retrieves events corresponding to the device identified by device Id.  # noqa: E501

        Event log contains information like the severity, timestamp, source, actual event details and the account corresponding to the event.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.event_log_get_event_logs_by_device(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Device identifier (Example: 3010055). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :param str severity: Event severity; possible values: [emergency, alert, critical, error, warning, notice, information, debug].
        :param int dayrange: Number of days in the past for which the logs will be fetched (Example: 2).
        :return: DeviceEventLogSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.event_log_get_event_logs_by_device_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.event_log_get_event_logs_by_device_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def event_log_get_event_logs_by_device_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves events corresponding to the device identified by device Id.  # noqa: E501

        Event log contains information like the severity, timestamp, source, actual event details and the account corresponding to the event.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.event_log_get_event_logs_by_device_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Device identifier (Example: 3010055). (required)
        :param int page: Specific page number to get. 0 based index.
        :param int pagesize: Maximumm records per page. Default 500.
        :param str severity: Event severity; possible values: [emergency, alert, critical, error, warning, notice, information, debug].
        :param int dayrange: Number of days in the past for which the logs will be fetched (Example: 2).
        :return: DeviceEventLogSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'page', 'pagesize', 'severity', 'dayrange']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method event_log_get_event_logs_by_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `event_log_get_event_logs_by_device`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'severity' in params:
            query_params.append(('severity', params['severity']))  # noqa: E501
        if 'dayrange' in params:
            query_params.append(('dayrange', params['dayrange']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{id}/eventlog', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceEventLogSearchResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
