# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class GPSApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def g_ps_bulk_gps_coordinates_search_by_device_identifiers(self, bulk_input, **kwargs):  # noqa: E501
        """Retrieves the GPS coordinates of multiple devices within the specified day range.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified date range for given searchby query param value type(i.e Macaddress/UDID/Serialnumber/deviceID).  <br />  startdatetime and enddatetime fields accept the following  Valid DateTime formats : yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,  yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,  yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt, yyyy-MM-ddTHH-mm-ss-tt.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_bulk_gps_coordinates_search_by_device_identifiers(bulk_input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BulkInput bulk_input: Bulk input of containing multiple Device Identifiers.(Required). (required)
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837).
        :param datetime startdatetime: Start Date time.
        :param datetime enddatetime: End Date time.
        :param int daterange: Number of days in which range device location details needs to be returned.
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.g_ps_bulk_gps_coordinates_search_by_device_identifiers_with_http_info(bulk_input, **kwargs)  # noqa: E501
        else:
            (data) = self.g_ps_bulk_gps_coordinates_search_by_device_identifiers_with_http_info(bulk_input, **kwargs)  # noqa: E501
            return data

    def g_ps_bulk_gps_coordinates_search_by_device_identifiers_with_http_info(self, bulk_input, **kwargs):  # noqa: E501
        """Retrieves the GPS coordinates of multiple devices within the specified day range.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified date range for given searchby query param value type(i.e Macaddress/UDID/Serialnumber/deviceID).  <br />  startdatetime and enddatetime fields accept the following  Valid DateTime formats : yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,  yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,  yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt, yyyy-MM-ddTHH-mm-ss-tt.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_bulk_gps_coordinates_search_by_device_identifiers_with_http_info(bulk_input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BulkInput bulk_input: Bulk input of containing multiple Device Identifiers.(Required). (required)
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837).
        :param datetime startdatetime: Start Date time.
        :param datetime enddatetime: End Date time.
        :param int daterange: Number of days in which range device location details needs to be returned.
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['bulk_input', 'search_by', 'startdatetime', 'enddatetime', 'daterange']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method g_ps_bulk_gps_coordinates_search_by_device_identifiers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'bulk_input' is set
        if self.api_client.client_side_validation and ('bulk_input' not in params or
                                                       params['bulk_input'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `bulk_input` when calling `g_ps_bulk_gps_coordinates_search_by_device_identifiers`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'search_by' in params:
            query_params.append(('searchBy', params['search_by']))  # noqa: E501
        if 'startdatetime' in params:
            query_params.append(('startdatetime', params['startdatetime']))  # noqa: E501
        if 'enddatetime' in params:
            query_params.append(('enddatetime', params['enddatetime']))  # noqa: E501
        if 'daterange' in params:
            query_params.append(('daterange', params['daterange']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'bulk_input' in params:
            body_params = params['bulk_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/gps/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GpsCoordinate]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id(self, bulk_input, **kwargs):  # noqa: E501
        """Executes bulk gps coordinates by device and alternate id.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified bulk input values.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id(bulk_input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BulkInput bulk_input: Bulk input of containing multiple alternate ids.(Required). (required)
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837).
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id_with_http_info(bulk_input, **kwargs)  # noqa: E501
        else:
            (data) = self.g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id_with_http_info(bulk_input, **kwargs)  # noqa: E501
            return data

    def g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id_with_http_info(self, bulk_input, **kwargs):  # noqa: E501
        """Executes bulk gps coordinates by device and alternate id.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified bulk input values.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id_with_http_info(bulk_input, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BulkInput bulk_input: Bulk input of containing multiple alternate ids.(Required). (required)
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837).
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['bulk_input', 'search_by']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'bulk_input' is set
        if self.api_client.client_side_validation and ('bulk_input' not in params or
                                                       params['bulk_input'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `bulk_input` when calling `g_ps_execute_bulk_gps_coordinates_by_device_by_alternate_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'search_by' in params:
            query_params.append(('searchBy', params['search_by']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'bulk_input' in params:
            body_params = params['bulk_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/gps', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GpsCoordinate]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def g_ps_get_gps_coordinates_by_alternate_id(self, search_by, **kwargs):  # noqa: E501
        """Retrieves the GPS coordinates of the device identified by alternate id.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified dayrange and searchBy type(i.e Macaddress/UDID/Serialnumber) but not deviceID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_get_gps_coordinates_by_alternate_id(search_by, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param str id: Device alternate id.
        :param int day_range: The number of days for which to retrieve GPS coordinates.
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.g_ps_get_gps_coordinates_by_alternate_id_with_http_info(search_by, **kwargs)  # noqa: E501
        else:
            (data) = self.g_ps_get_gps_coordinates_by_alternate_id_with_http_info(search_by, **kwargs)  # noqa: E501
            return data

    def g_ps_get_gps_coordinates_by_alternate_id_with_http_info(self, search_by, **kwargs):  # noqa: E501
        """Retrieves the GPS coordinates of the device identified by alternate id.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified dayrange and searchBy type(i.e Macaddress/UDID/Serialnumber) but not deviceID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_get_gps_coordinates_by_alternate_id_with_http_info(search_by, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_by: The alternate id type; possible values: [Macaddress, Udid, Serialnumber, ImeiNumber]. (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param str id: Device alternate id.
        :param int day_range: The number of days for which to retrieve GPS coordinates.
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_by', 'id', 'day_range']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method g_ps_get_gps_coordinates_by_alternate_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_by' is set
        if self.api_client.client_side_validation and ('search_by' not in params or
                                                       params['search_by'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `search_by` when calling `g_ps_get_gps_coordinates_by_alternate_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'search_by' in params:
            query_params.append(('searchBy', params['search_by']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'day_range' in params:
            query_params.append(('dayRange', params['day_range']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/gps', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GpsCoordinate]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def g_ps_get_gps_coordinates_by_device(self, id, **kwargs):  # noqa: E501
        """Retrieves the GPS coordinates of the device identified by device ID.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified dayrange and device ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_get_gps_coordinates_by_device(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The device ID.(Required). (required)
        :param int day_range: The number of days for which to retrieve GPS coordinates.
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.g_ps_get_gps_coordinates_by_device_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.g_ps_get_gps_coordinates_by_device_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def g_ps_get_gps_coordinates_by_device_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves the GPS coordinates of the device identified by device ID.  # noqa: E501

        Retrieves gps co-ordinates in latitude and longitude decimal degree format(i.e. D.D) for specified dayrange and device ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.g_ps_get_gps_coordinates_by_device_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The device ID.(Required). (required)
        :param int day_range: The number of days for which to retrieve GPS coordinates.
        :return: list[GpsCoordinate]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'day_range']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method g_ps_get_gps_coordinates_by_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `g_ps_get_gps_coordinates_by_device`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'day_range' in params:
            query_params.append(('dayRange', params['day_range']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{id}/gps', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[GpsCoordinate]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
