# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class NetworkApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def network_get_network_info_by_alternate_id(self, search_by, id, **kwargs):  # noqa: E501
        """Returns network information of single device from alternate device identifier.  # noqa: E501

        Returns network information including voice and data roamingstatus, IP address, WiFi details for a device based on alternate ID like MAC address, UUID, Serial number, IMEI number.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.network_get_network_info_by_alternate_id(search_by, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_by: Alternate device identifier type. One of Macaddress, Udid, Serialnumber or ImeiNumber (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param str id: Device alternate ID (Required). (required)
        :return: DeviceNetworkInfoEntityModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.network_get_network_info_by_alternate_id_with_http_info(search_by, id, **kwargs)  # noqa: E501
        else:
            (data) = self.network_get_network_info_by_alternate_id_with_http_info(search_by, id, **kwargs)  # noqa: E501
            return data

    def network_get_network_info_by_alternate_id_with_http_info(self, search_by, id, **kwargs):  # noqa: E501
        """Returns network information of single device from alternate device identifier.  # noqa: E501

        Returns network information including voice and data roamingstatus, IP address, WiFi details for a device based on alternate ID like MAC address, UUID, Serial number, IMEI number.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.network_get_network_info_by_alternate_id_with_http_info(search_by, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str search_by: Alternate device identifier type. One of Macaddress, Udid, Serialnumber or ImeiNumber (Formats: Macaddress: 848506B900BA, Udid: 6bf0f04c73681fbecfc3eb4f13cbf05b, SerialNumber: LGH871c18f631a, ImeiNumber: 354833052322837) (Required). (required)
        :param str id: Device alternate ID (Required). (required)
        :return: DeviceNetworkInfoEntityModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_by', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method network_get_network_info_by_alternate_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'search_by' is set
        if self.api_client.client_side_validation and ('search_by' not in params or
                                                       params['search_by'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `search_by` when calling `network_get_network_info_by_alternate_id`")  # noqa: E501
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `network_get_network_info_by_alternate_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'search_by' in params:
            query_params.append(('searchBy', params['search_by']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/network', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceNetworkInfoEntityModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def network_get_network_info_by_device(self, id, **kwargs):  # noqa: E501
        """Returns network information of single device specified by id parameter.  # noqa: E501

        Returns network information including voice and data roamingstatus, IP address and WiFi details for a device identified by the ID provided.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.network_get_network_info_by_device(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The device ID for which network info is to be retrieved.(Required). (required)
        :return: DeviceNetworkInfoEntityModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.network_get_network_info_by_device_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.network_get_network_info_by_device_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def network_get_network_info_by_device_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns network information of single device specified by id parameter.  # noqa: E501

        Returns network information including voice and data roamingstatus, IP address and WiFi details for a device identified by the ID provided.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.network_get_network_info_by_device_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The device ID for which network info is to be retrieved.(Required). (required)
        :return: DeviceNetworkInfoEntityModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method network_get_network_info_by_device" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `network_get_network_info_by_device`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/{id}/network', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeviceNetworkInfoEntityModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def network_network_info_search(self, **kwargs):  # noqa: E501
        """Finds device network information matching specified criteria.  # noqa: E501

        Returns network information like device IP address along with corresponding device id which satisfies given criteria.  <br />  seensince and lastseen fields accept the following Valid DateTime formats :  yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,  yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,  yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt,  yyyy-MM-ddTHH-mm-ss-tt.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.network_network_info_search(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user: Filters results based on Enrolled username.
        :param str model: Filters results based on Device model. For example iPhone.
        :param str platform: Filters results based on Device platform. For example Apple.
        :param str lastseen: Filters result based on Device Last seen date.
        :param str ownership: Filters result based on Device Ownership. One of C, E, S or Undefined.
        :param int lgid: Limits search results to given OrganizationGroup. Defaults to user's OrganizationGroup.
        :param str compliantstatus: Filters results based on Device Complaint status. One of Compliant, NonCompliant or NotAvailable.
        :param str seensince: Filters results based on the devices that are seen after given date.
        :param int page: Filters results to show records present in only given page number. Page numbering is 0 based and omitting this parameter will return first page.
        :param int pagesize: Limits the number of search results per page. Defaults to 500.
        :param str sortorder: Sort order of results.One of ASC or DESC. Defaults to ASC.
        :return: NetworkInfoSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.network_network_info_search_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.network_network_info_search_with_http_info(**kwargs)  # noqa: E501
            return data

    def network_network_info_search_with_http_info(self, **kwargs):  # noqa: E501
        """Finds device network information matching specified criteria.  # noqa: E501

        Returns network information like device IP address along with corresponding device id which satisfies given criteria.  <br />  seensince and lastseen fields accept the following Valid DateTime formats :  yyyy/MM/dd, yyyy-MM-dd, MM/dd/yyyy, MM-dd-yyyy, yyyy/MM/dd HH:mm:ss.fff,  yyyy-MM-dd HH:mm:ss.fff, MM/dd/yyyy HH:mm:ss.fff, MM-dd-yyyy HH:mm:ss.fff, yyyy/MM/ddTHH:mm:ss.fff,  yyyy-MM-ddTHH:mm:ss.fff, MM/dd/yyyyTHH:mm:ss.fff, MM-dd-yyyyTHH:mm:ss.fff, yyyy-MM-dd HH-mm-ss-tt,  yyyy-MM-ddTHH-mm-ss-tt.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.network_network_info_search_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user: Filters results based on Enrolled username.
        :param str model: Filters results based on Device model. For example iPhone.
        :param str platform: Filters results based on Device platform. For example Apple.
        :param str lastseen: Filters result based on Device Last seen date.
        :param str ownership: Filters result based on Device Ownership. One of C, E, S or Undefined.
        :param int lgid: Limits search results to given OrganizationGroup. Defaults to user's OrganizationGroup.
        :param str compliantstatus: Filters results based on Device Complaint status. One of Compliant, NonCompliant or NotAvailable.
        :param str seensince: Filters results based on the devices that are seen after given date.
        :param int page: Filters results to show records present in only given page number. Page numbering is 0 based and omitting this parameter will return first page.
        :param int pagesize: Limits the number of search results per page. Defaults to 500.
        :param str sortorder: Sort order of results.One of ASC or DESC. Defaults to ASC.
        :return: NetworkInfoSearchResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user', 'model', 'platform', 'lastseen', 'ownership', 'lgid', 'compliantstatus', 'seensince', 'page', 'pagesize', 'sortorder']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method network_network_info_search" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'user' in params:
            query_params.append(('user', params['user']))  # noqa: E501
        if 'model' in params:
            query_params.append(('model', params['model']))  # noqa: E501
        if 'platform' in params:
            query_params.append(('platform', params['platform']))  # noqa: E501
        if 'lastseen' in params:
            query_params.append(('lastseen', params['lastseen']))  # noqa: E501
        if 'ownership' in params:
            query_params.append(('ownership', params['ownership']))  # noqa: E501
        if 'lgid' in params:
            query_params.append(('lgid', params['lgid']))  # noqa: E501
        if 'compliantstatus' in params:
            query_params.append(('compliantstatus', params['compliantstatus']))  # noqa: E501
        if 'seensince' in params:
            query_params.append(('seensince', params['seensince']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'pagesize' in params:
            query_params.append(('pagesize', params['pagesize']))  # noqa: E501
        if 'sortorder' in params:
            query_params.append(('sortorder', params['sortorder']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/devices/networkinfosearch', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NetworkInfoSearchResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
