# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class StagingBundlesV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def staging_bundles_v1_search(self, **kwargs):  # noqa: E501
        """New - Search Staging Bundles based on the query information provided  # noqa: E501

        Search Staging Bundles based on the query parameters like organization group uuid, device type and search text.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v1_search(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object organization_group_uuid: organization group to search Staging Bundles
        :param object device_type: device type such as Android or Windows Mobile.
        :param str search_text: text for searching the Staging Bundles
        :return: StagingBundlesSearchResultV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.staging_bundles_v1_search_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.staging_bundles_v1_search_with_http_info(**kwargs)  # noqa: E501
            return data

    def staging_bundles_v1_search_with_http_info(self, **kwargs):  # noqa: E501
        """New - Search Staging Bundles based on the query information provided  # noqa: E501

        Search Staging Bundles based on the query parameters like organization group uuid, device type and search text.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.staging_bundles_v1_search_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object organization_group_uuid: organization group to search Staging Bundles
        :param object device_type: device type such as Android or Windows Mobile.
        :param str search_text: text for searching the Staging Bundles
        :return: StagingBundlesSearchResultV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['organization_group_uuid', 'device_type', 'search_text']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method staging_bundles_v1_search" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'organization_group_uuid' in params:
            query_params.append(('organization_group_uuid', params['organization_group_uuid']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'search_text' in params:
            query_params.append(('search_text', params['search_text']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/product-components/staging-bundles/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StagingBundlesSearchResultV1Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
