# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class TemplatesV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def templates_v1_get_all_async(self, **kwargs):  # noqa: E501
        """New - Fetch GPO templates  # noqa: E501

        Returns a list of GPO security baseline templates provided by various vendors.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.templates_v1_get_all_async(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[BaselineVendorTemplateV1Model]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.templates_v1_get_all_async_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.templates_v1_get_all_async_with_http_info(**kwargs)  # noqa: E501
            return data

    def templates_v1_get_all_async_with_http_info(self, **kwargs):  # noqa: E501
        """New - Fetch GPO templates  # noqa: E501

        Returns a list of GPO security baseline templates provided by various vendors.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.templates_v1_get_all_async_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[BaselineVendorTemplateV1Model]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method templates_v1_get_all_async" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/baselines/templates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[BaselineVendorTemplateV1Model]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def templates_v1_get_policy_async(self, baseline_template_uuid, policy_uuid, **kwargs):  # noqa: E501
        """New - Fetch a policy with it's recommended values  # noqa: E501

        Returns a policy with it's options localized for a selected language and recommended values  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.templates_v1_get_policy_async(baseline_template_uuid, policy_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str baseline_template_uuid: The baseline template unique identifier(Required) (required)
        :param str policy_uuid: The policy identifier(Required) (required)
        :param str language: The language code (Default en-US)
        :return: PolicyModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.templates_v1_get_policy_async_with_http_info(baseline_template_uuid, policy_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.templates_v1_get_policy_async_with_http_info(baseline_template_uuid, policy_uuid, **kwargs)  # noqa: E501
            return data

    def templates_v1_get_policy_async_with_http_info(self, baseline_template_uuid, policy_uuid, **kwargs):  # noqa: E501
        """New - Fetch a policy with it's recommended values  # noqa: E501

        Returns a policy with it's options localized for a selected language and recommended values  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.templates_v1_get_policy_async_with_http_info(baseline_template_uuid, policy_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str baseline_template_uuid: The baseline template unique identifier(Required) (required)
        :param str policy_uuid: The policy identifier(Required) (required)
        :param str language: The language code (Default en-US)
        :return: PolicyModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['baseline_template_uuid', 'policy_uuid', 'language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method templates_v1_get_policy_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'baseline_template_uuid' is set
        if self.api_client.client_side_validation and ('baseline_template_uuid' not in params or
                                                       params['baseline_template_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `baseline_template_uuid` when calling `templates_v1_get_policy_async`")  # noqa: E501
        # verify the required parameter 'policy_uuid' is set
        if self.api_client.client_side_validation and ('policy_uuid' not in params or
                                                       params['policy_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `policy_uuid` when calling `templates_v1_get_policy_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'baseline_template_uuid' in params:
            path_params['baselineTemplateUUID'] = params['baseline_template_uuid']  # noqa: E501
        if 'policy_uuid' in params:
            path_params['policyUUID'] = params['policy_uuid']  # noqa: E501

        query_params = []
        if 'language' in params:
            query_params.append(('language', params['language']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/baselines/templates/{baselineTemplateUUID}/policies/{policyUUID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PolicyModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def templates_v1_search_template_async(self, vendor_template_uuid, os_version_uuid, **kwargs):  # noqa: E501
        """New - Find a vendor template  # noqa: E501

        Returns a GPO security baseline template provided by a vendor.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.templates_v1_search_template_async(vendor_template_uuid, os_version_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vendor_template_uuid: The vendor template identifier(Required) (required)
        :param object os_version_uuid: The operating system version identifier(Required) (required)
        :param object security_level_uuid: The security level identifier
        :param bool policy_tree: load the policy tree
        :param str language: The language code (Default en-US)
        :return: BaselineTemplate
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.templates_v1_search_template_async_with_http_info(vendor_template_uuid, os_version_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.templates_v1_search_template_async_with_http_info(vendor_template_uuid, os_version_uuid, **kwargs)  # noqa: E501
            return data

    def templates_v1_search_template_async_with_http_info(self, vendor_template_uuid, os_version_uuid, **kwargs):  # noqa: E501
        """New - Find a vendor template  # noqa: E501

        Returns a GPO security baseline template provided by a vendor.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.templates_v1_search_template_async_with_http_info(vendor_template_uuid, os_version_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vendor_template_uuid: The vendor template identifier(Required) (required)
        :param object os_version_uuid: The operating system version identifier(Required) (required)
        :param object security_level_uuid: The security level identifier
        :param bool policy_tree: load the policy tree
        :param str language: The language code (Default en-US)
        :return: BaselineTemplate
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vendor_template_uuid', 'os_version_uuid', 'security_level_uuid', 'policy_tree', 'language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method templates_v1_search_template_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vendor_template_uuid' is set
        if self.api_client.client_side_validation and ('vendor_template_uuid' not in params or
                                                       params['vendor_template_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `vendor_template_uuid` when calling `templates_v1_search_template_async`")  # noqa: E501
        # verify the required parameter 'os_version_uuid' is set
        if self.api_client.client_side_validation and ('os_version_uuid' not in params or
                                                       params['os_version_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `os_version_uuid` when calling `templates_v1_search_template_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'vendor_template_uuid' in params:
            path_params['vendorTemplateUUID'] = params['vendor_template_uuid']  # noqa: E501

        query_params = []
        if 'os_version_uuid' in params:
            query_params.append(('osVersionUUID', params['os_version_uuid']))  # noqa: E501
        if 'security_level_uuid' in params:
            query_params.append(('securityLevelUUID', params['security_level_uuid']))  # noqa: E501
        if 'policy_tree' in params:
            query_params.append(('policyTree', params['policy_tree']))  # noqa: E501
        if 'language' in params:
            query_params.append(('language', params['language']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/baselines/templates/search/{vendorTemplateUUID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BaselineTemplate',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
