# coding: utf-8

"""
    MDM API V1

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mdmv1.api_client import ApiClient


class TunnelAdminActionV1Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def tunnel_admin_action_v1_get_tunnel_admin_actions_info_async(self, device_uuid, **kwargs):  # noqa: E501
        """New - Gets the device access information.  # noqa: E501

        It is used to get the device access information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tunnel_admin_action_v1_get_tunnel_admin_actions_info_async(device_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: (Required). (required)
        :return: TunnelAccessV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tunnel_admin_action_v1_get_tunnel_admin_actions_info_async_with_http_info(device_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.tunnel_admin_action_v1_get_tunnel_admin_actions_info_async_with_http_info(device_uuid, **kwargs)  # noqa: E501
            return data

    def tunnel_admin_action_v1_get_tunnel_admin_actions_info_async_with_http_info(self, device_uuid, **kwargs):  # noqa: E501
        """New - Gets the device access information.  # noqa: E501

        It is used to get the device access information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tunnel_admin_action_v1_get_tunnel_admin_actions_info_async_with_http_info(device_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: (Required). (required)
        :return: TunnelAccessV1Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tunnel_admin_action_v1_get_tunnel_admin_actions_info_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_uuid' is set
        if self.api_client.client_side_validation and ('device_uuid' not in params or
                                                       params['device_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `device_uuid` when calling `tunnel_admin_action_v1_get_tunnel_admin_actions_info_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_uuid' in params:
            path_params['deviceUuid'] = params['device_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tunnel/devices/{deviceUuid}/action', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TunnelAccessV1Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def tunnel_admin_action_v1_perform_console_admin_action_async(self, device_uuid, action_request_model, **kwargs):  # noqa: E501
        """New - Perform the operation on tunnel device.  # noqa: E501

        It is used to perform the console admin action for tunnel devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tunnel_admin_action_v1_perform_console_admin_action_async(device_uuid, action_request_model, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: (Required). (required)
        :param TunnelConsoleActionRequestModel action_request_model: (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.tunnel_admin_action_v1_perform_console_admin_action_async_with_http_info(device_uuid, action_request_model, **kwargs)  # noqa: E501
        else:
            (data) = self.tunnel_admin_action_v1_perform_console_admin_action_async_with_http_info(device_uuid, action_request_model, **kwargs)  # noqa: E501
            return data

    def tunnel_admin_action_v1_perform_console_admin_action_async_with_http_info(self, device_uuid, action_request_model, **kwargs):  # noqa: E501
        """New - Perform the operation on tunnel device.  # noqa: E501

        It is used to perform the console admin action for tunnel devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.tunnel_admin_action_v1_perform_console_admin_action_async_with_http_info(device_uuid, action_request_model, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_uuid: (Required). (required)
        :param TunnelConsoleActionRequestModel action_request_model: (Required). (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_uuid', 'action_request_model']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tunnel_admin_action_v1_perform_console_admin_action_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_uuid' is set
        if self.api_client.client_side_validation and ('device_uuid' not in params or
                                                       params['device_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `device_uuid` when calling `tunnel_admin_action_v1_perform_console_admin_action_async`")  # noqa: E501
        # verify the required parameter 'action_request_model' is set
        if self.api_client.client_side_validation and ('action_request_model' not in params or
                                                       params['action_request_model'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `action_request_model` when calling `tunnel_admin_action_v1_perform_console_admin_action_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_uuid' in params:
            path_params['deviceUuid'] = params['device_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'action_request_model' in params:
            body_params = params['action_request_model']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/tunnel/devices/{deviceUuid}/action', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
