# coding: utf-8

"""
    System API V2

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from systemv2.api_client import ApiClient


class GroupSyncActionsV2Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def group_sync_actions_v2_group_acknowledgement(self, uuid, **kwargs):  # noqa: E501
        """New - Get Group Acknowledgement  # noqa: E501

        Gets the approval status for a group along with the access token and link to merge that group. This will also include the details of members added and removed from the group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.group_sync_actions_v2_group_acknowledgement(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: UserGroup Uuid.(Required) (required)
        :param object membership_status: Filter for Added and Removed Users - ('Add'/'Remove')
        :param str page: Page number to be displayed
        :return: GroupAcknowledgementV2Model
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.group_sync_actions_v2_group_acknowledgement_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.group_sync_actions_v2_group_acknowledgement_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def group_sync_actions_v2_group_acknowledgement_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """New - Get Group Acknowledgement  # noqa: E501

        Gets the approval status for a group along with the access token and link to merge that group. This will also include the details of members added and removed from the group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.group_sync_actions_v2_group_acknowledgement_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: UserGroup Uuid.(Required) (required)
        :param object membership_status: Filter for Added and Removed Users - ('Add'/'Remove')
        :param str page: Page number to be displayed
        :return: GroupAcknowledgementV2Model
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'membership_status', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_sync_actions_v2_group_acknowledgement" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if self.api_client.client_side_validation and ('uuid' not in params or
                                                       params['uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `uuid` when calling `group_sync_actions_v2_group_acknowledgement`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []
        if 'membership_status' in params:
            query_params.append(('membershipStatus', params['membership_status']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/GroupSyncActions/{uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GroupAcknowledgementV2Model',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def group_sync_actions_v2_merge_pending_groups(self, merge_pending_groups_v2_model, **kwargs):  # noqa: E501
        """New - Merges the group changes  # noqa: E501

        Merges the user or admin group which are in 'MergePendingApproval' or 'MergeFailed' state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.group_sync_actions_v2_merge_pending_groups(merge_pending_groups_v2_model, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MergePendingGroupsV2Model merge_pending_groups_v2_model: (Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.group_sync_actions_v2_merge_pending_groups_with_http_info(merge_pending_groups_v2_model, **kwargs)  # noqa: E501
        else:
            (data) = self.group_sync_actions_v2_merge_pending_groups_with_http_info(merge_pending_groups_v2_model, **kwargs)  # noqa: E501
            return data

    def group_sync_actions_v2_merge_pending_groups_with_http_info(self, merge_pending_groups_v2_model, **kwargs):  # noqa: E501
        """New - Merges the group changes  # noqa: E501

        Merges the user or admin group which are in 'MergePendingApproval' or 'MergeFailed' state.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.group_sync_actions_v2_merge_pending_groups_with_http_info(merge_pending_groups_v2_model, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MergePendingGroupsV2Model merge_pending_groups_v2_model: (Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merge_pending_groups_v2_model']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method group_sync_actions_v2_merge_pending_groups" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merge_pending_groups_v2_model' is set
        if self.api_client.client_side_validation and ('merge_pending_groups_v2_model' not in params or
                                                       params['merge_pending_groups_v2_model'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `merge_pending_groups_v2_model` when calling `group_sync_actions_v2_merge_pending_groups`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'merge_pending_groups_v2_model' in params:
            body_params = params['merge_pending_groups_v2_model']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/GroupSyncActions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
