# coding: utf-8

"""
    MCM API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mcmv1.api_client import ApiClient


class RepositoryTemplatesV2Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def repository_templates_v2_content_repository_template_bulk_delete_async(self, content_repository_template_uuids, **kwargs):  # noqa: E501
        """New - Bulk delete content repository templates.  # noqa: E501

        Deletes the content repository template for multiple content repository template ids.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.repository_templates_v2_content_repository_template_bulk_delete_async(content_repository_template_uuids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] content_repository_template_uuids: Content repository template uuids to be deleted.(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.repository_templates_v2_content_repository_template_bulk_delete_async_with_http_info(content_repository_template_uuids, **kwargs)  # noqa: E501
        else:
            (data) = self.repository_templates_v2_content_repository_template_bulk_delete_async_with_http_info(content_repository_template_uuids, **kwargs)  # noqa: E501
            return data

    def repository_templates_v2_content_repository_template_bulk_delete_async_with_http_info(self, content_repository_template_uuids, **kwargs):  # noqa: E501
        """New - Bulk delete content repository templates.  # noqa: E501

        Deletes the content repository template for multiple content repository template ids.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.repository_templates_v2_content_repository_template_bulk_delete_async_with_http_info(content_repository_template_uuids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] content_repository_template_uuids: Content repository template uuids to be deleted.(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_repository_template_uuids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method repository_templates_v2_content_repository_template_bulk_delete_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_repository_template_uuids' is set
        if self.api_client.client_side_validation and ('content_repository_template_uuids' not in params or
                                                       params['content_repository_template_uuids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_repository_template_uuids` when calling `repository_templates_v2_content_repository_template_bulk_delete_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'content_repository_template_uuids' in params:
            body_params = params['content_repository_template_uuids']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/V2/contents/repository-templates/delete', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def repository_templates_v2_content_repository_template_delete_async(self, content_repository_template_uuid, **kwargs):  # noqa: E501
        """New - Deletes a content repository template.  # noqa: E501

        Deletes the content repository template for a content repository template id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.repository_templates_v2_content_repository_template_delete_async(content_repository_template_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_repository_template_uuid: Uuid of the content repository template to be deleted(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.repository_templates_v2_content_repository_template_delete_async_with_http_info(content_repository_template_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.repository_templates_v2_content_repository_template_delete_async_with_http_info(content_repository_template_uuid, **kwargs)  # noqa: E501
            return data

    def repository_templates_v2_content_repository_template_delete_async_with_http_info(self, content_repository_template_uuid, **kwargs):  # noqa: E501
        """New - Deletes a content repository template.  # noqa: E501

        Deletes the content repository template for a content repository template id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.repository_templates_v2_content_repository_template_delete_async_with_http_info(content_repository_template_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_repository_template_uuid: Uuid of the content repository template to be deleted(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_repository_template_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method repository_templates_v2_content_repository_template_delete_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_repository_template_uuid' is set
        if self.api_client.client_side_validation and ('content_repository_template_uuid' not in params or
                                                       params['content_repository_template_uuid'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_repository_template_uuid` when calling `repository_templates_v2_content_repository_template_delete_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'content_repository_template_uuid' in params:
            path_params['contentRepositoryTemplateUuid'] = params['content_repository_template_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/V2/contents/repository-templates/{contentRepositoryTemplateUuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def repository_templates_v2_create_repository_template_async(self, repository_template_v2_model, **kwargs):  # noqa: E501
        """New - Creates a Repository template.  # noqa: E501

        It creates a repository template and has option for adding assignment, deployment, and security.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.repository_templates_v2_create_repository_template_async(repository_template_v2_model, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RepositoryTemplateV2Model repository_template_v2_model: Repository template details to be created.(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.repository_templates_v2_create_repository_template_async_with_http_info(repository_template_v2_model, **kwargs)  # noqa: E501
        else:
            (data) = self.repository_templates_v2_create_repository_template_async_with_http_info(repository_template_v2_model, **kwargs)  # noqa: E501
            return data

    def repository_templates_v2_create_repository_template_async_with_http_info(self, repository_template_v2_model, **kwargs):  # noqa: E501
        """New - Creates a Repository template.  # noqa: E501

        It creates a repository template and has option for adding assignment, deployment, and security.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.repository_templates_v2_create_repository_template_async_with_http_info(repository_template_v2_model, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RepositoryTemplateV2Model repository_template_v2_model: Repository template details to be created.(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['repository_template_v2_model']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method repository_templates_v2_create_repository_template_async" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'repository_template_v2_model' is set
        if self.api_client.client_side_validation and ('repository_template_v2_model' not in params or
                                                       params['repository_template_v2_model'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `repository_template_v2_model` when calling `repository_templates_v2_create_repository_template_async`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'repository_template_v2_model' in params:
            body_params = params['repository_template_v2_model']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=1', 'application/xml;version=1'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/V2/contents/repository-templates', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
