# coding: utf-8

"""
    MAM API V2

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mamv2.api_client import ApiClient


class BlobsV2Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def blobs_v2_delete(self, blob_id, **kwargs):  # noqa: E501
        """New - Deletes a blob by Guid  # noqa: E501

        Deletes a blob by Guid.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.blobs_v2_delete(blob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str blob_id: Identifier of the blob to be deleted(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.blobs_v2_delete_with_http_info(blob_id, **kwargs)  # noqa: E501
        else:
            (data) = self.blobs_v2_delete_with_http_info(blob_id, **kwargs)  # noqa: E501
            return data

    def blobs_v2_delete_with_http_info(self, blob_id, **kwargs):  # noqa: E501
        """New - Deletes a blob by Guid  # noqa: E501

        Deletes a blob by Guid.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.blobs_v2_delete_with_http_info(blob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str blob_id: Identifier of the blob to be deleted(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['blob_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method blobs_v2_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'blob_id' is set
        if self.api_client.client_side_validation and ('blob_id' not in params or
                                                       params['blob_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `blob_id` when calling `blobs_v2_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'blob_id' in params:
            path_params['blobId'] = params['blob_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json;version=2', 'application/xml;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/blobs/{blobId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def blobs_v2_head(self, blob_id, **kwargs):  # noqa: E501
        """New - Gets a blob contents information by the Guid  # noqa: E501

        Returns the information for blob contents  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.blobs_v2_head(blob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str blob_id: Identifier of the blob to be retrieved(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.blobs_v2_head_with_http_info(blob_id, **kwargs)  # noqa: E501
        else:
            (data) = self.blobs_v2_head_with_http_info(blob_id, **kwargs)  # noqa: E501
            return data

    def blobs_v2_head_with_http_info(self, blob_id, **kwargs):  # noqa: E501
        """New - Gets a blob contents information by the Guid  # noqa: E501

        Returns the information for blob contents  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.blobs_v2_head_with_http_info(blob_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str blob_id: Identifier of the blob to be retrieved(Required) (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['blob_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method blobs_v2_head" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'blob_id' is set
        if self.api_client.client_side_validation and ('blob_id' not in params or
                                                       params['blob_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `blob_id` when calling `blobs_v2_head`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'blob_id' in params:
            path_params['blobId'] = params['blob_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/octet-stream;version=2'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BasicAuth', 'CmsAuth']  # noqa: E501

        return self.api_client.call_api(
            '/blobs/{blobId}', 'HEAD',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
